body{
    background-color: wheat;
}

.titulo h1{
    background-color: rgb(138, 88, 69);
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    
}

.caracteristicas h2{
   text-align: center;
}
.caracteristicas p{
   text-align: center;
   font-weight: bold;
    
}
.caracteristicas img{
   margin-left: 20%;
}
 
hr{
    border: 2px solid;
    border-color: rgb(138, 88, 69);
}

.ingredientes h3{
    text-align: center;
    font-size: 22px;
}
.ingredientes ul{
    margin-left: 30%;
    font-weight: bold;
}

.modoDePreparo h3 {
    text-align: center;
    font-size: 22px;
}
.modoDePreparo ol {
    margin-left: 30%;
    font-weight: bold;
}